<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!--<link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!--<link th:href="@{/css/bootstrap-theme.css}" rel="stylesheet"/>-->
    <link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/ie10-viewport-bug-workaround.css}" rel="stylesheet"/>
    <link th:href="@{/css/dashboard.css}" rel="stylesheet"/>

    <script th:src="@{/js/jquery-3.2.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <!--<script th:src="@{/js/npm.js}" type="text/javascript"></script>-->
    <script th:src="@{/js/ie-emulation-modes-warning.js}"></script>
    <script th:src="@{/js/e10-viewport-bug-workaround.js}"></script>
    <script th:src="@{/js/holder.min.js}"></script>
</head>
<body>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>